<!DOCTYPE html>
<html class="create" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹툰 목록에 추가</title>
    <link rel="stylesheet" href="{{ url_for('crud.static', filename='style.css')}}"
</head>
<body class="createbody">
    <div class="cdiv">
    <h1 class="listup">˝ Add My toon ˝</h1>
    
    <form class="listupform" style="display: inline-block;"
        action="{{ url_for('crud.create_user') }}"
        method="POST"
        novalidate="novalidate"
    >
    {{ form.csrf_token }}
    <p class="cp">
        {{ form.title.label }} {{ form.title(placeholder="제목") }}
    </p>
    {% for error in form.title.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p class="cp">
        {{ form.author.label }} {{ form.author(placeholder="작가") }}
    </p>
    {% for error in form.author.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p class="cp">
        {{ form.genre.label }} {{ form.genre(placeholder="장르") }}
    </p>
    {% for error in form.genre.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p class="cp">
        {{ form.link.label }} {{ form.link(placeholder="링크주소") }}
    </p>
    {% for error in form.link.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
     
    <p class="addsubmit">{{ form.submit() }}</p>
</form>
</div>
</body>
</html>