<!DOCTYPE html>
<html class="index" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹툰 목록</title>
    <link rel="stylesheet" href="{{ url_for('crud.static', filename='style.css')}}"
</head>
<body class="toonlist">
    <h1 class="hh2">˝ MY WEBTOONS ˝</h1>
    <a class="newtoon" href="{{ url_for('crud.create_user') }}" style="display: inline-block;">★ADD New WebToon★</a>

    <table>
        <tr>
            <th>N   O</th>
            <th>T I T L E</th>
            <th>A U T H O R</th>
            <th>G E N R E</th>
            <th>L I N K</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>
                <a href="{{ url_for('crud.edit_user', user_id=user.id) }}">{{ user.id }}</a>
            </td>
            <td>{{ user.title }}</td>
            <td>{{ user.author }}</td>
            <td>{{ user.genre }}</td>
            <td>
                <a href="{{ user.link }}">click!!</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>